body
{
    background-image: url("assets/bubbs.jpg");
    color: #000;
    font-family: sans-serif;
    text-align: center;
}

.container
{
    max-width: 1160px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: #fff 2px solid;
}

nav
{
    background-color: #333;
    height: 80px;
    border: 3px #fff solid;
}

nav ul li
{
    display: inline-block;
    height: 50px;
    width: 80px;
    line-height: 50px;
    border: 2px #fff solid;
}

a, a:visited
{
    color: #fff;
}